#ifndef __PERSEUS_MONICARE_ENVIRONMENT__
#define __PERSEUS_MONICARE_ENVIRONMENT__

/*
Copy this file and rename it to "env.h". 
Then set the macros/variables with your the values of your
development environment.

"env.h" will never be commited, its in .gitignore. 
Please, never remove "env.h" of .gitignore file.
The values of your dev environment, such as passwords, IPs, username and etc, 
will always be protected this way.
*/

/* WiFi connection */
#define SSID ""
#define NETWORK_PASSWORD ""
/* --------------- */

/* API connection */
#define SERVER_IP ""
#define SERVER_PORT 8000
/* -------------- */

#endif
